/* ==========================================
   ROSE FINDS
   COZY KITCHEN V2
========================================== */

/* ==========================================
   WELCOME
========================================== */

.welcome{

    padding:90px 0;

}

.welcome__container{

    width:min(1200px,92%);
    margin:0 auto;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:70px;

    align-items:center;

}

.welcome__content h2{

    font-size:3rem;
    line-height:1.2;
    color:#7a4c24;
    margin-bottom:30px;

}

.welcome__content p{

    font-size:1.2rem;
    color:#444;
    max-width:560px;

}

.welcome__image img{

    width:100%;
    border-radius:20px;

}

